.explorar__content {
    width: calc(100% - 220px);
    height: calc(100% - 48px);
    transition: all 0.3s;
    position: absolute;
    top: 48px;
    right: 0;
}

.explorar__content {
    display: flex;
}

.explorar {
    width: 40%;
    padding: 1.5rem;
}

.explorar__img {
    width: 90%;
    margin: 0 auto;
}

.explorar__titulo {
    font-size: 32px;
    margin-top: 1.5rem;
}

.explorar__descricao {
    font-size: 24px;
}

.funcionalidades {
    width: 60%;
    height: 100%;
    padding: 10px;
}

.funcionalidades__perfil {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 320px;
}

.funcionalidades__perfil div {
    margin-left: 10px;
    padding: 5px;
}

.funcionalidades__button{
    border-color: transparent;
}


.funcionalidades__comentarios {
    background-color: white;
    width: 100%;
    vertical-align: bottom;
}

.funcionalidades__comentarios-area {
    padding: 10px;
    height: 350px;
}

.funcionalidades__comentarios-escreve {
    vertical-align: bottom;
}

#comentarios {
    width: 90%;
    vertical-align: bottom;
    padding: 5px;
    font-size: 12px;
}

#enviar {
    width: 10%;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
}