
.explorar__content {
    width: calc(100% - 220px);
    height: calc(100% - 48px);
    transition: all 0.3s;
    position: absolute;
    top: 48px;
    right: 0;
    background-color: rgba(210, 210, 161, 0.2);
    z-index: -1;
}

.explorar__content{
    display: flex;
}

.player{
    width: 40%;
    padding: 1.5rem;
}

.player__img{
    width: 90%;
    margin: 0 auto;
}

.player__titulo{
    font-size: 32px;
    margin-top: 1.5rem;
}

.player__descricao{
    font-size: 24px;
}

.funcionalidades{
    width: 60%;
    height: 100%;
}

.funcionalidades__perfil{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 320px;
}

.funcionalidades__perfil div{
    margin-left: 10px;
    padding: 5px ;
}

.funcionalidades__comentarios{
    background-color: white;
    width: 100%;
    vertical-align: bottom;
}

.funcionalidades__comentarios-area{

}

.funcionalidades__comentarios-escreve{
    vertical-align: bottom;
}

#comentarios{

}

#enviar{
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
}