
.blue {
    background-color: #0E8AFD;
}

.sidebar {
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    z-index: 999;
    padding: 1rem;
}


.sidebar-header{
    font-size: 2rem;
    display: flex;
    cursor: default;
}

.logo{
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
}

.nav__item a {
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
}

.nav__item{
    margin-top: 24px;
    transition: all 4s;
}

.nav__item :hover{
    color: #d3d3d3;
}

.nav__item span{
    margin-left: 5px;
}

.active{
    /*
    background-color: #f8f8f8;
    border-radius: 4px;
    */
}