
.card{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--gelo);
    color: #152536;
    overflow-wrap: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.card:hover{
    transform: scale(1.05);
}


.card__image{
    width: auto;
    height: auto;
}

.card__titulo{
    font-size: 20px;
    font-weight: 500;
    margin-top: .3rem;
}

.card__descricao{
    font-size: 12px;
}