
.player__content {
    width: calc(100% - 220px);
    height: calc(100% - 48px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 48px;
    right: 0;
    background-color: rgba(210, 210, 161, 0.2);
    z-index: -1;
}


.conteiner__player{
    margin: 100px auto;
    padding: 1rem;
    width: 940px;
    height: 360px;
    background-color: var(--gelo);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.player__capa{
    display: flex;
}


.player__imagem {
    width: 400px;
    height: 200px;
}

.player__perfil-img{
    width: 60px;
    height: 60px;
}

.player__perfil{
    padding: 1rem;
}


.player__perfil-content{
    display: flex;
    width: 540px;
    padding: 1.5rem;
}

.player__perfil-detalhes{
    margin: 0 10px;
}


.player__like{
    width: 32px;
    height: 32px;
    margin-top: 25px;
    margin-left: 200px;
}


.player__titulo{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins";
}