.blue {
    background-color: #0E8AFD;
  }

.bntStyle {
    color: #020202;
    border-color: #020202;
}

.header__pesquisar{
    width: 250px;
}

#alinhamento-menu{
    left: -80px;
}

.pesquisar__button:hover{
    border-color: #020202;
}

