.blue {
    background-color:var(--azul);
}



.bntStyle {
    color: #020202;
    border-color: #020202;
}


.header__pesquisar{
    width: 300px;
}


#alinhamento-menu{
    left: -80px;
}


.pesquisar__button:hover{
    background-color: var(--gelo);
}

